@font-face {
    font-family: Gameboy;
    src: url(/fonts/early_gameboy/Early\ GameBoy.ttf);
}

@keyframes mudaCor {
    0%{
        color: black;
    }
    25%{
        color: rgb(77, 0, 0);
    }
    50%{
        color: rgb(255, 0, 0);
    }
    75%{
        color:rgb(77, 0, 0);
    }
    100%{
        color: black;
    }
}

:root{
    --corPrimaria : rgb(255, 0, 0) ;
    --corSecundaria : rgb(56, 56, 56) ;
    --corTerciaria: rgb(0, 168, 0);
    --white : rgb(255, 255, 255) ;
    --black : rgb(0, 0, 0) ;
    --fontePrimaria : 'Trebuchet MS' ;
    --fonteSecundaria : Gameboy ;
}
    
*{
    margin: 0% ;
    padding: 0% ;
    font-family: var(--fontePrimaria);
}

#page{
    width: 100%;
    height: 100vh; /* <-viewport porque altura é indeterminada */
    background-color: var(--corSecundaria);
    display: flex; /* <- flexibiliza a tela */ 
    justify-content: center; /* <- alinha ao centro horizontalmente */
    align-items: center; /* <- alinha ao centro verticalmente */
}

main{
    width: 70%;
    height: 80%;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    overflow: hidden; /*<- esconde tudo que está fora dos limites da divisão (pontas são quadradas, agora passam a ser redondas, de acordo com o display "pai")*/
}

#efeito , #form { 
    width: 50%; /*<- 50% para o efeito e 50% para o formulário*/
    height: 100%;
}

#efeito{
    width: 100%;
    height: 100%;
    background-image: url(/img/The\ Grimm\ Troupe.png);
    background-size: cover;
    
}

#form{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(272deg, rgba(0,0,0,1) 21%, rgba(255,0,0,0.9416141456582633) 100%);

}

#form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner{
    width: 100%;
    height: 100%;
    background: rgb(255,0,0);
    background: linear-gradient(270deg, rgba(255,0,0,0.6) 0%, rgba(0,0,0,1) 100%);
}

input {
    width: 70%;
    padding: 0.5%;
    border: none;
    border-bottom: solid var(--corPrimaria);
}


button {
    width: 20%;
    padding: 0.5%;
    margin-bottom: 1%;
    border: none ;
    border: solid var(--corPrimaria);
    background-color: red;
    color: white;
    cursor: pointer;
    box-shadow: black 1px 1px 2px 1px;
}

#homeid {
   color:  white;
   text-decoration: none; 
}

h2{
    /* animation-name: mudaCor;  */
    /* animation-duration: 10s; */
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.link {
    text-decoration: none;
    color: white; 
    cursor: pointer;
}