#homepage{
    width: 100%;
    height: 100vh; /* <-viewport porque altura é indeterminada */
    background-image: url();
    /* background-color: black; */
    display: flex; /* <- flexibiliza a tela */ 
    justify-content: center; /* <- alinha ao centro horizontalmente */
    align-items: center; /* <- alinha ao centro verticalmente */
}

#cape {
    width: 100%;
    height: 100%;
    background-image: url(/img/hollow-cape.jpg);

}